
{% extends "correlation/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
              {% csrf_token %}
     <div id='form_generator'>
 
      <table> 
        <tr>
          <td>User id <input placeholder='user id' id='user_id'> </td>
          <td></td>
        </tr>
        <tr>

        <td id="new_x">Str x <input id='x_str'>
              <p class="x_obj_class">
                <input  class='x_date_class' type="">
                <input  class='x_value_class' type="">
              </p>

          </td>
          <td id="new_y">Str y <input id='y_str'>
              <p class="y_obj_class">
                  <input  class='y_date_class' placeholder="date" type="">
                  <input  class='y_value_class' placeholder="value" type="">
                </p>
              </tr>
            </table>

          </td>
        </tr>
        
        <tr>
          <td><input type="submit" value='Add line' id='add_data'></td>
        </tr>
        
      </table>
          <input  type='submit' id="sendInf" value='Send collection'>
          <input  type='submit' id="collect_info" value='Collect info'>

     </div>
     
     <div id='result'> </div>

     <br> 
     <br> 
     <br> 
     <hr>

     <div id="get_corr">
        <input id="user_id_get" placeholder="User ID">
        <input id="x_data_type" placeholder="X type">
        <input id="y_data_type" placeholder="Y type">
        <input type="submit"  id='get_corr_button' value="Get correlation">
     </div>
     
     <div id="answer_1"></div>

     <br> 
     <br> 
     <br> 
     <hr>

     <div id="get_all"></div>
    <div>
      <h3>Types</h3>
          {% for c in types %}
          {{ c }}
          <p>{{ c.type_name }} <a href="{% url 'delete_type' c.id  %}">Delete type</a></p>
          {% endfor %}

    </div>


     <div id='new_type'>
       <form action= "{% url 'create_type'  %}" method="POST">
              {% csrf_token %}
         <input name="type_name" placeholder='Add new type'>
         <input type="submit">
       </form>
     </div>


    {% csrf_token %}
    {% endif %}

{% endblock %}
