
body{
  font: Candara;
  font-weight: 600;
}

table {
  border-collapse: collapse;
}

.blue_day {
  background: blue;
}

.busy_hour{
  background: grey;
}

.off_checkbox{
  color: grey;
}

.green {
  background: green;
}

.active_day{
  border: medium dashed grey;
}

.hours_green{
  background: green;
}

.none_display{
  display: none;
}

td,
th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #E6E6E6;
}
